*{ margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
 }
 body
 {  background-color: #747a83;
   
 }
 .container
 { width: 80%;
   min-height: 100vh;
   margin: auto;
   background-image: url(/Images/home-background.png);
   background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
   grid-template-columns: 70px minmax(280px,30%) 1fr;
  grid-template-rows: auto;
  gap: 80px;
  
 }
 .item1{
    min-height: 40vh; 
    background-color: rgba(255, 255, 255, 0.4); 
    padding: 25px;
    position: relative;
 }
 .item1 .txt
 {
    top: 80%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 90px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  
}
 .item1 .txt span {
  transform: rotate(-90deg);  
  transform-origin: left top;
  font-size: 16px;
  font-weight: 600;
  color: black;
  cursor: pointer;
}
.item2{
    background-color: black;
    height: 250px;
    display: flex;
    justify-content: center;

}
.item2 img{
    height: 500px;
    width: 500px;
    margin-top: 50px;
}
.item3{
  
}
.item3 .nav{
    width: 100%;
    height: 60px;
     display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
}
.item3 .nav a span{
    color: rgb(208, 47, 47);
    font-weight: 400;
}
.item3 .nav a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.item3 .content{
    height: 350px;
    display: flex;
    align-items: center;
}
.item3 .content .tx{
    width: 300px;
    height: 200px;
    background-color: white;
}
.item3 .content .tx p{
      text-align: justify;
      margin-top: 8px;
}
.item3 .content .btn{
      width: 300px;
      height: 40px;
      display: flex;
      flex-direction: row;
      margin-top: 20px;
    justify-content: space-around;

}
.item3 .content .btn button{
     width: 100px;
      height: 25px;
      background-color: rgb(74, 63, 63);
      color: white;
}
.item3 .content .tx h2{
 color: rgb(208, 47, 47);;
}
.item3 .content .tx p{
    margin-left: 3px;
}
.item4{
    background-color: antiquewhite;
   grid-column: 2/ -1;

}

.item4 .cards{
  display: flex;
  gap: 40px;                 
  align-items: flex-start;
}


.food-card{
  width: 220px;              
  min-height: 200px;         
  background-color: #1e1e1e;
  color: white;
  border-radius: 26px;
  padding: 60px 20px 20px;   
  text-align: center;
  position: relative;
}


.food-img{
  width: 130px;
  height: 130px;
  position: absolute;
  top: -20px;
  right: 30%;
  transform: translateX(-30%);
  border-radius: 50%;
  overflow: hidden;
  background: white;
  border: 6px solid #1e1e1e;
  -webkit-transform: translateX(-30%);
  -moz-transform: translateX(-30%);
  -ms-transform: translateX(-30%);
  -o-transform: translateX(-30%);
}

.food-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.food-card h4{
  font-size: 18px;
  margin-bottom: 40px;
  margin-left: 80px;
  
}


.food-card .title{
  font-size: 15px;
  font-weight: 600;
  margin-left: 50px;
}


.food-card .sub{
  font-size: 13px;
  color: #aaa;
}